body {
    background-image: url(https://i.pinimg.com/originals/dd/64/eb/dd64eb42fac35881ddc4e59e9bb8d1a9.jpg);
    height: 100%;
}

#wrapper {
    color: white;
    font-weight: bold;
    height: 275px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 50px;
}

#container {
    position: absolute;
    top: 200px;
    left: 500px;
}

p {
    font-size: 32;
}

p,
alt,
.sectionTitle {
    color: #f5f5f5;
    font-weight: bolder;
}

#wins,
#currentWord,
#guessesRemaining,
#guessedLetters {
    color: #f5f5f5;
}

div {
    text-align: center;
}

.animalImage {
    width: 250px;
    height: 200px;
    border-radius: 25px;
}

#animalDiv {
    width: 300px;
    padding: 20px;
    margin-left: 10px;
}

#gameSection {
    float: left;
    width: 300px;
    height: 580px;
    padding: 20px;
    margin-bottom: 50px;
    border: 2px solid #f5f5f5;
}